.br__load-nodes-button {
  position: fixed;
  left: 10px;
  bottom: 10px;
  padding: 8px 14px 9px;
  background-color: #fff;
  border-radius: 8px;
  font-size: 14px;
  border: 1px solid #eee;
  cursor: pointer;
}
